<div style="background-color:black; padding-top:150px;padding-bottom:300px" id="menu_font">
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    
    <div class="col-md-8 col xs-8">
      <div class="panel panel-default">
        <div class="panel-body">
            <center><h2>LikeLion A D M I N</h2></center>
            <hr>
          <div class="row">
            <div class="col-md-5">
              <a href="/admin/signup_person" class="btn btn-info btn-lg btn-block" >가입자 관리</a>
              <br>
              <a href="/admin/signup_person" class="btn btn-warning btn-lg btn-block" >4기 출석체크</a>
              <br>
              
              <a href="/admin/signup_person" class="btn btn-info btn-lg btn-block" >간단 공지사항 작성</a>
              <a href="/admin/signup_person" class="btn btn-info btn-lg btn-block" >공지사항 팝업창 관리</a>
              
              <a href="/admin/signup_person" class="btn btn-info btn-lg btn-block" >팀플 관리</a>
            </div>
            <div class="col-md-5">
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </div>
    <div class="col-md-2 col-xs-2"></div>
    
  </div>

</div>
