
<div style="background-color:black; padding-top:150px;padding-bottom:300px" id="menu_font">
  
  <div class="row">
    
    <div class="col-md-2 col-md-xs-2"></div>
      
      <div class="col-md-8 col-md-xs-8" align="center">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <img src="https://scontent.xx.fbcdn.net/hphotos-xtl1/v/t1.0-9/12743755_949678688441198_8346172877976822994_n.png?oh=cb8fa34f31177dcc6adeeffab4eb76c2&oe=575CA352" style="height:300px"><br>
            
            <br>
            <hr>
              <h2>'멋쟁이 사자처럼' 이란?</h2>
            <hr>
            <br>
            
            <h3>
            90일동안<br><br>
            내가 배우고<br><br>
            내가 런칭하는<br><br>
            <strong>나만의 웹 서비스</strong><br><br>
            </h3>
            
            <br><br>
            
            <hr>
              <h2>멋사 4기 일정</h2>
            <hr>
            <br>
            
            <img src="/img/scadule.png" style="height:700px">
            <br><br>
            <hr>
              <h2>운영진 소개</h2>
            <hr>
            <br>
            
            <img src="https://fbcdn-photos-e-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-0/p526x296/12794417_559315920895902_1799819629868282365_n.jpg?oh=df5f21c53d33067a373a94513bbfb151&oe=5796BB11&__gda__=1469642999_4f9335724d86057b6ee67f6d27c41efc"><br>
            <div style="padding-left:200px">
            <h4 align="left"><br><br>
            if name == "박지연"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#막내</span><br>
            <br>
            elsif name == "엄혜선"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#강펀치</span><br>
            <br>
            elsif name == "조혜진"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#술마신듯_안마신듯_활발</span><br>
            <br>
            elsif name == "이병호"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#우리는_진짜친구_가짜친구인가</span><br>
            <br>
            elsif name == "이태진"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#서버_마스터</span><br>
            <br>
            elsif name == "김수한"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#화내는_로봇</span><br>
            <br>
            elsif name == "박상철"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#모자맨</span><br>
            <br>
            elsif name == "윤성중"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#1초_정진운</span><br>
            <br>
            elsif name == "홍석민"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#남자중_유일한_커플</span><br>
            <br>
            elsif name == "이건희"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#술거니</span><br>
            <br>
            elsif name == "김현민"<br>
            &nbsp&nbsp&nbsp&nbsp   Person.tag = <span class="label label-primary">#코딩_마스터</span><br>
            <br>
            end
            <br>
            
            </h4>
            <br>
            <br>
            <br>
            </div>
          </div><!--<div class="panel-body">-->
        </div><!--<div class="panel panel-default">-->
      </div><!--<div class="col-md-8 col-md-xs-8">-->
      
    <div class="col-md-2 col-md-xs-2" id="#side">
       <!--%= render "book/side" %>-->
    </div>
    
  </div><!--div class row-->
</div><!--<div style="background-color:lightgray">-->
