<div id="top" style="background-image: url(http://ironsummitmedia.github.io/startbootstrap-landing-page/img/banner-bg.jpg); background-size: cover; height:1000px;">
     <!--<div class="jumbotron" id="top" style="background-image: url(https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11947483_833544056761626_6388524221709896910_n.jpg?oh=df1434c4094e5f37d1222391567bd482&oe=56807E0E&__gda__=1446490038_9fe83b67f9ad1e62d26e55431b0817a2); background-size: cover; height:530px;">-->
 <div class="container" id="menu_font" style="padding-top:150px; align:center;color:white">
  
      <h3 style="color:white; text-align:center"> <!--하얀박스 제목-->
       
          통합 예약 관리
       
      </h3>
     
  </div><!-- <div class="container" id="menu_font" style="margin-top:150px; align:center;color:white">-->
</div><!--<div class="jumbotron" id="top"-->
          


<div style="background:lightgray"id="menu_font">
  <div class="container" style="padding-top:50px; padding-bottom:50px"><!--공지사항 시작-->
    
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body" align="center">
            <h3>공 지 사 항</h3>
            <hr>
             
            <div class="list-group" align="left">
              <% Post.last(4).reverse_each do |f|%>
              <a href="/freeboard/upload_view/<%=f.id%>" class="list-group-item"><%=f.id%> - <%=f.title%></a>
              <%end%>
            </div>
            
            <div align="right">
              <a class="btn btn-default btn-sm" href="/freeboard/freeboards">더보기</a> 
            </div>      
          </div>
        </div>
      </div>
 
    </div>
  
  </div>
</div>

