
<div style="background-color:lightgray; padding-top:150px;padding-bottom:150px" id="menu_font">
  
  <div class="row">
    
    <div class="col-md-2 col-md-xs-2"></div>
      
      <div class="col-md-8 col-md-xs-8" align="center">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <h2>E D I T  N O T I C E</h2>
            <hr>
            
            <%= form_tag("/post/modify_action", method: "post") do %>
              <div class="col-md-2 col-sm-1"></div>
            
              <div class="col-md-8 col-sm-10">
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">제목</span>
                  <input type="text" name="md_title" class="form-control" value = "<%= @modify_post.title %>"  required>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">내용</span>
                  <textarea type="text" name="md_content" class="form-control" rows="20" cols="70"  required><%= @modify_post.content %></textarea>
                </div>
                
                <br>
                <input type='hidden' name='id' value='<%= @modify_post.id %>'>
                <input class="btn btn-info btn-lg btn-block" type ="submit" value = "수정완료"></input>
                <br><br>
              </div>
              
              <div class="col-md-2 col-sm-1"></div>
            <%end%>
            
          </div><!--<div class="panel-body">-->
        </div><!--<div class="panel panel-default">-->
      </div><!--<div class="col-md-8 col-md-xs-8">-->
      
    <div class="col-md-2 col-md-xs-2" id="menu_font">
      
      <!--%= render "book/side" %>-->
      
    </div>
    
     <br> <br> <br>

  </div><!--div class row-->
</div><!--<div style="background-color:lightgray">-->
