<div style="background-color:black; padding-top:150px;padding-bottom:150px" id="menu_font">
  
  <div class="row">
    
    <div class="col-md-2 col-md-xs-2"></div>
      
      <div class="col-md-8 col-md-xs-8" align="center">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <h2>N E W _ P R O J E C T</h2>
            <hr>
            
            <%= form_tag("/project/write_process", method: "post") do %>
              <div class="col-md-2 col-sm-1"></div>
              
              <div class="col-md-8 col-sm-10">
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">제목</span>
                  <input type="text"  class="form-control"  placeholder="프로젝트 이름 :D" name="title"  required>
                </div>
                
                <br>
                
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">팀장</span>
                  <input type="text"  class="form-control"  placeholder="프로젝트 팀장 이름을 적어주세요 :D" name="team_leader"  required>
                  <span class="input-group-addon" id="basic-addon1">팀원</span>
                  <input type="text"  class="form-control"  placeholder="프로젝트 팀원 이름을 적어주세요 :D" name="team_member"  required>
                </div>
                
                <br>
                
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">주소</span>
                  <input type="text"  class="form-control"  placeholder="프로젝트 주소를 적어주세요 :D (http://포함!!)" name="address"  required>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">설명</span>
                  <textarea name="content" class="form-control" placeholder="해당 프로젝트에 대한 설명을 해주세요(기능, 사용한 주요 코드 등) :D" rows="20" cols="70"  required></textarea>
                </div>
                
                <br>
                
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">이미지</span>
                  <input type="file"  class="form-control" name="image">
                </div>
                
                <br>
                
                <input class="btn btn-info btn-lg btn-block" type ="submit" value = "작성완료"></input>
                <br><br>
              </div>
              
              <div class="col-md-2 col-sm-1"></div>
            <%end%>
            <!--<div class="col-md-4 col-sm-12">-->
              
             
            <!--  <br>-->
            <!--  % if current_user.email=="admin@ptu.ac.kr"%>-->
            <!--    <a href="/freeboard/upload" class="btn btn-info btn-lg btn-block" >글 작성</a>-->
            <!--  %end%>-->
            <!--</div>-->
            
            <!--<div class="col-md-8 col-sm-12">-->
              
            <!--</div>-->
            
            
          </div><!--<div class="panel-body">-->
        </div><!--<div class="panel panel-default">-->
      </div><!--<div class="col-md-8 col-md-xs-8">-->
      
    <div class="col-md-2 col-md-xs-2" id="menu_font">
      
      <!--%= render "book/side" %>-->
      
    </div>
    
     <br> <br> <br>

  </div><!--div class row-->
</div><!--<div style="background-color:lightgray">-->
